<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.image8001.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="com.example.commons.entity.Image">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="imgUrl" column="imgUrl" jdbcType="VARCHAR"/>
            <result property="imgSize" column="imgSize" jdbcType="DOUBLE"/>
            <result property="imgType" column="imgType" jdbcType="INTEGER"/>
            <result property="isDel" column="isDel" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,imgUrl,imgSize,imgType,
        isDel,createTime
    </sql>
</mapper>
